<%- include('../partials/header.ejs') %>

    <h3>Airline : <%= flight.airline %></h3>
    <p>Airport : <%= flight.airport %></p>
    <p>Flight No. : <%= flight.flightNo %></p>
    <p>Departs : <%= flight.departs %></p>

<%- include('../partials/footer.ejs') %>